@use './variables' as *;
@use './mixins' as *;
/****** Global General Styling ******/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;   
}
body {
    font-family: $avenir-regular;
    font-size: 1rem;
}
li {
    list-style: none;
}
a, a:active, a:visited, a:hover, a:link {
    color: $Silver;
    text-decoration: none;
}
// Section titles styling
.section-title {
    font-family: $avenir-demi;
    font-size: $m-header;
    line-height: $m-header-line-height;
    &--main {
        color: $BandSite-Black;
        @include padding($top: $mobile-heading-p-t, $bottom: $mobile-p-b);
        @include tablet {
            font-size: $td-section-header;
            line-height: $td-sh-line-height;
        }
    }
}