// Primary colors
$BandSite-Black: #323232;
$Silver: #AFAFAF;
$White: #FFFFFF;
// Secondary colors
$BandSite-DarkBlack: #000000;
$Mercury: #E1E1E1;
$Alabaster: #FAFAFA;
// Typography
$light: 300;
$normal: 400;
$demibold: 600;
$bold: 700;
@font-face {
    font-family: 'AvenirNextRegular';
    font-weight: $normal;
    font-style: normal;
    src: url(../../assets/fonts/AvenirNextLTPro-Regular.otf) format("opentype"),
    url(../../assets/fonts/AvenirNextLTPro.ttf) format(truetype);
}
@font-face {
    font-family: 'AvenirNextDemi';
    font-weight: $demibold;
    font-style: normal;
    src: url(../../assets/fonts/AvenirNextLTPro-Demi.otf) format("opentype"),
    url(../../assets/fonts/AvenirNextLTProDemi.ttf) format(truetype);
}
@font-face {
    font-family: 'AvenirNextBold';
    font-weight: $bold;
    font-style: normal;
    src: url(../../assets/fonts/AvenirNextLTPro-Bold.otf) format("opentype"),
    url(../../assets/fonts/AvenirNextLTProBold.ttf) format(truetype);
}
$avenir-regular: "AvenirNextRegular", sans-serif;
$avenir-demi: "AvenirNextDemi", sans-serif;
$avenir-bold: "AvenirNextBold", sans-serif;
//Responsive width for tablet and desktop. The default styling is mobile.
$tablet: 768px;
$desktop: 1280px;
// Mobile font sizes and line height
$m-header: 2.3rem;
$m-header-line-height: 2.5rem;
$m-sub-header: 1.4rem;
$m-subheader-line-height: 22px;
$m-body-copy: 1.125rem;
$m-body-line-height: 1.5rem;
$m-footer-copy: 1.1rem;
$m-footer-line-height: 1.5rem;
$m-label-buttons: 10px;
$m-label-button-line-height: 20px;
// Tablet and desktop font size and line height
$t-header: 4rem;
$t-header-line-height: 3.25rem;
$d-header: 4.5rem;
$d-header-line-height: 3.75rem;
$td-section-header: 2.625rem;
$td-sh-line-height: 2.8rem;
$td-sub-header: 1.875rem;
$td-subheader-line-height: 2.5rem;
$td-body-copy: 1.2rem;
$td-body-line-height: 1.5rem;
$t-footer-copy: 1.13rem;
$t-footer-line-height: 1.5rem;
$d-footer-copy: 1.5rem;
$d-footer-line-height: 1.75rem;
$td-label-buttons: 12px;
$td-label-button-line-height: 20px;
//padding mobile variables
$mobile-p-r: 1.25rem;
$mobile-p-l: 1.25rem;
$mobile-p-t: 1.25rem;
$mobile-p-b: 0.8rem;
$mobile-heading-p-t: 2rem;
//padding tablet and desktop
$td-p-r: 3rem;
$td-p-l: 3rem;
$td-p-t: 2.25rem;
$td-p-b: 2.25rem;
$td-heading-p-t: 2.25rem;
$d-p-l: 6.25rem;
$d-p-r: 6.25rem;
