@use './partials/global' as *;
@use './partials/header' as *;
@use './partials/footer' as *;
@use './partials/variables' as *;
@use './partials/mixins' as *;
/*** Bio - Hero styling ***/
.hero {
    background-image: url(../assets/images/hero-bio.jpg);
}
/*** Bio - About styling ***/
.quote {
    font-family: $avenir-demi;
    font-size: 1.4rem;
    color: $bandsite-black;
}
.about {
    @include flex($direction: column);
    max-width: 95%;
    margin: 0 auto;
    font-size: $m-body-copy;
    line-height: $m-body-line-height;
    font-style: $light;
    @include padding ($bottom: $mobile-p-b);
    @include tablet {
        font-size: $td-body-copy;
        line-height: $td-body-line-height;
        @include padding ($bottom: $td-p-b);
    }
    @include desktop {
        @include padding($left: $desktop-p-l, $right: $desktop-p-r);
    }
    &__content {
        @include tablet {
            align-self: center;
            width: 89%;
        }
    }
    &__image {
        width: 100%;
        object-fit: cover;
        @include padding($bottom: $mobile-p-b);
        @include tablet {
            @include padding($bottom: $td-p-b);
            max-height: 590px;
        }
        @include desktop {
            max-height: 620px;
        }
    }
    &__quote {
        aspect-ratio: auto;
        @include padding($bottom: $mobile-p-b);
        @include tablet {
            font-size: $td-sub-header;
            line-height: $td-subheader-line-height;
        }
        @include desktop {
            width: 81%;
        }
        &:before {
            content: open-quote;
        }
        &:after {
            content: close-quote;
        }
        quotes: "“" "”";
    }
    &__nested-quote {
        quotes: "‘" "’";
    }
    &__quotee {
        font-style: normal;
    }
    &__subheading {
        font-size: 1.4rem;
        line-height: 1.5rem;
        color: $bandsite-dark-black;
        @include padding($top: $mobile-heading-p-t, $bottom: $mobile-p-b);
        @include tablet {
            font-size: $td-sub-header;
            @include padding($top: $td-heading-p-t, $bottom: $td-p-b); 
        }
    }
    &__container {
        color: $bandsite-black;
        @include flex($direction: column, $j-content: space-between);
        row-gap: 20px;
        @include tablet {
            flex-direction: row;
            column-gap: 20px;
        }
    }
}
/*** Bio - Gallery styling ***/
.gallery {
    &__container {
        @include flex($direction: column);
        background-color: $alabaster;
        @include tablet {
            @include padding($bottom: $td-p-b);
        }
        @include desktop {
            @include padding($left: $desktop-p-l, $right: $desktop-p-r);
        }
    }
    &__title {
        @include padding($left: $mobile-p-l);
        @include tablet {
            @include padding($top: $td-heading-p-t, $left: $td-p-l);
        }
    }
    &__container-img {
        @include flex($direction: column);
        @include padding($left: $mobile-p-l, $bottom: $mobile-p-b, $right: $mobile-p-r);
        gap: 20px;
        @include tablet {
            flex-direction: row;
            flex-wrap: wrap;
            gap: 30px;
            @include padding($top: $td-p-t, $left: $td-p-l, $bottom: $td-p-b, $right: $td-p-r);
        }
    }
    &__item {
        filter: grayscale(1);
        &:hover {
            filter:grayscale(0);
            cursor: pointer;
        }
        @include tablet {
            width: 30%;
        }
        @include desktop {
            width: 31%;
        }
    }
}
/*** Bio - Join the Conversation (comment section) ***/
.conversation {
    @include padding($left: $mobile-p-l, $bottom: $mobile-p-b, $right: $mobile-p-r); 
    @include tablet {
        @include padding($left: $td-p-l, $bottom: $td-p-b, $right: $td-p-r);
    }
    @include desktop {
        @include padding($right: $desktop-p-r, $left:$desktop-p-l);
    }
    &__wrapper {
        @include tablet {
            max-width: 95%;
            margin: 0 auto;
            @include padding($top: $td-p-t, $left: $td-p-l, $bottom: $td-p-b, $right: $td-p-r);
        }
        @include desktop {
            max-width: 60%;
        }
    }
    &__form-container {
        @include flex();
        gap: 1.25rem;
        border-bottom: 2px solid $mercury;
        @include padding($bottom: 1.2rem);
    }
    &__avatar {
        border-radius: 50%;
        object-fit: cover;
        object-position: 20%;
        width: 50px;
        height: 50px;
        background-color: $mercury;
        @include margin($top: 20px);
    }
    &__form {
        @include flex($direction: column);
        flex-grow: 2;
        row-gap: 20px;
    }
    &__field {
        @include flex($direction: column);
        row-gap: 5px;
    }
    &__label {
        font-family: $avenir-demi;
        color: $silver;
        text-transform: uppercase;
        font-size: 0.8rem;
        letter-spacing: 1px;
    }
    &__textbox {
        padding: 12px;
        background-color: $alabaster;
        border: 1px solid $mercury;
        &::placeholder {
            font-family: $avenir-regular;
            color: $bandsite-black;
            opacity: 1;
            font-size: 1.2rem;
        }
        &:active {
            outline-color: $bandsite-black;
        }
        @include tablet {
            padding: 16px;
        }
    }
    &__input-error {
        border-color: #D22D2D;
    }
    &__textbox--comment {
        resize: none;
    }
    &__button {
        @extend .btn;
        @include tablet {
            width: 40%;
            align-self: flex-end;
        }
        @include desktop {
            width: 30%;
        }
    }
    &__comment-container {
        @include padding($bottom: $mobile-p-b);
    }
    &__comment-wrapper {
        font-family: $avenir-regular;
        @include flex($j-content: space-between);
        @include padding($bottom: $mobile-p-b);
        border-bottom: 2px solid $mercury;
        @include tablet {
            @include padding($top: $td-p-t, $bottom: $td-p-b);
        }
    }
    &__title-section {
        @include flex($j-content:space-between);
        @include padding($top: $mobile-p-t, $bottom: $mobile-p-b);   
    }
    &__name {
        font-family: $avenir-bold;
        color: $bandsite-black;
        font-size: 1.1rem;
    }
    &__date {
        color: $silver;
        font-size: 1.2rem;
    }
    &__comment-div {
        word-break: break-word;
        width: 85%;
        align-self: flex-end;
    }
    &__text {
        color: $bandsite-black;
        font-family: $avenir-regular;
        line-height: $m-body-line-height;
        width:96%;
        font-size: 1.25rem;
    }
    &__icon-container {
        @include flex($direction: column, $j-content: space-between);
    }
    &__btn {
        background-color: white;
        border-width: 1px;
        width: 2rem;
        height: 2rem;
        cursor: pointer;
        &--like {

        }
        &--delete {

        }
    }
    &__icon {
        pointer-events: none;
        &--delete {
            color: #8b0000;
        }
        &--like {
            color: red;
        }
    }
}


