@use './partials/global' as *;
@use './partials/variables' as *;
@use './partials/mixins' as *;

.header {
    @include flex($direction: column, $j-content: center, $a-items: center);
    @include padding($top: $mobile-heading-p-t);
    background-color: $BandSite-Black;
    @include tablet {
        @include flex();
    }
    &__logo {
        @include padding($top: $td-p-t, $right: $td-p-r, $bottom: $td-p-b, $left: $td-p-l);
    }
    &__nav {
        width: 100%;
        font-size: 1.3rem;
    }
    &__list {
        @include flex($j-content: space-around, $a-items: center);
        height: fit-content;
        @include tablet {
            @include flex ($j-content: flex-start, $a-content: center);
            width: 30%;
        }
        // border: green solid 2px;
    }
    &__item {
        width: 50%;
        text-align: center;
        &:hover {
            border-bottom: 5px solid $White;
        }
    }
    &__active-link, &__active-link:active, &__active-link:visited, &__active-link:link {
        color: $White;
    }
    &__label {
        // border: red solid 2px;
        width: 50%;
        @include tablet {
            width: 50%;   
        }
    }
}
.hero {
    background-image: url(../assets/images/hero-bio.jpg);
    background-size: cover;
    background-position: center;
    height: 30vh;
    color: $White;
    &__banner {
        @include flex($j-content: flex-start, $a-items: center);
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
    }
    &__title {
        font-size: 2rem;
        font-weight: $demibold;
        @include padding($left: $mobile-p-l);
    }
}
.about {
    @include flex($direction: column);
    max-width: 95%;
    height: max-content;
    margin: 0 auto;
    &__title {
        font-size: 2rem;
        @include padding($top: $mobile-heading-p-t, $bottom: $mobile-p-b);
    }
    &__image {
        width: 100%;
        @include padding($bottom: $mobile-p-b);
    }
    &__quote {
        @include padding($bottom: $mobile-p-b);
        font-family: $avenir-demi;
        &:before {
            content: open-quote;
        }
        &:after {
            content: close-quote;
        }
        quotes: "“" "”";
    }
    &__nested-quote {
        quotes: "‘" "’";
    }
    &__quotee {
        font-style: normal;
        font-family: $avenir-demi;
    }
    &__subheading {
        font-weight: $demibold;
        @include padding($top: $mobile-heading-p-t, $bottom: $mobile-p-b);
    }
    &__container {
        @include flex($direction: column, $j-content: space-between);
        font-size: 1.34rem;
        font-weight: normal;
        row-gap: 20px;
    }
}
.gallery {
    height: max-content;
    &__container {
        @include flex($direction: column);
        background-color: $Alabaster;
    }
    &__title {
        @include padding($top: $mobile-heading-p-t, $left: $mobile-p-l);
    }
    &__container-img {
        @include flex($direction: column);
        @include padding($top: $mobile-p-t, $left: $mobile-p-l, $bottom: $mobile-p-b, $right: $mobile-p-r);
        gap: 20px;
    }
}
.footer {
    background-color: $BandSite-Black;
    color: $White;
    @include padding($left: $mobile-p-l);
    &__social-media {

    }
    &__title {
        font-size: 1.8rem;
        font-weight: $demibold;
        @include padding($top: $mobile-heading-p-t);
    }
    &__icons {
        @include flex($j-content: space-between);
        width: 35%;
    }
    &__icon {
        
    }
    &__icon-img {
        height: 3vh;
    }
    &__contact-container {
        @include flex($direction: column);
        row-gap: 16px;
    }
    &__contact {
        @include flex($direction: column);
        row-gap: 16px;
    }
    &__contact-title {

    }
    &__contact-name {
        font-family: $avenir-demi;
        @include padding($top: $mobile-heading-p-t);
    }
    &__brand {
        font-family: $avenir-demi;
    }
    &__address-container {
   
    }
    &__location {
        font-style: normal;
    }
    &__email {

    }
    &__logo-container {
        @include margin($top: 50px);
    }
    &__logo {
        width: 114px;
        height: 19px;
    }
    &__copyright {
        @include padding($top: $mobile-p-t, $bottom: $mobile-p-b);
    }
    &__title, &__contact-container, &__content {
        @include padding($top: $mobile-p-t, $bottom: $mobile-p-b);
    }
}