@font-face {
  font-family: "AvenirNextRegular";
  font-weight: 400;
  font-style: normal;
  src: url(../../assets/fonts/AvenirNextLTPro-Regular.otf) format("opentype"), url(../../assets/fonts/AvenirNextLTPro.ttf) format(truetype);
}
@font-face {
  font-family: "AvenirNextDemi";
  font-weight: 600;
  font-style: normal;
  src: url(../../assets/fonts/AvenirNextLTPro-Demi.otf) format("opentype"), url(../../assets/fonts/AvenirNextLTProDemi.ttf) format(truetype);
}
@font-face {
  font-family: "AvenirNextBold";
  font-weight: 700;
  font-style: normal;
  src: url(../../assets/fonts/AvenirNextLTPro-Bold.otf) format("opentype"), url(../../assets/fonts/AvenirNextLTProBold.ttf) format(truetype);
}
/****** Global General Styling ******/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "AvenirNextRegular", sans-serif;
  font-size: 1rem;
}

li {
  list-style: none;
}

a, a:active, a:visited, a:hover, a:link {
  color: #AFAFAF;
  text-decoration: none;
}

.btn, .shows__btn {
  font-family: "AvenirNextDemi", sans-serif;
  color: #FFFFFF;
  background-color: #323232;
  padding: 15px;
  border-radius: 5px;
  border-style: none;
  font-size: 1.3rem;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 0.8rem;
  letter-spacing: 1px;
}

.hero {
  background-size: cover;
  background-position: center;
  height: 30vh;
  color: #FFFFFF;
}
@media (min-width: 768px) {
  .hero {
    height: 60vh;
  }
}
@media (min-width: 1280px) {
  .hero {
    height: 80vh;
  }
}
.hero__banner {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  padding-top: 1.25rem;
  padding-right: 1.25rem;
  padding-left: 1.25rem;
}
@media (min-width: 768px) {
  .hero__banner {
    font-size: 4rem;
    line-height: 4.1rem;
    padding-left: 3rem;
  }
}
@media (min-width: 1280px) {
  .hero__banner {
    font-size: 4.5rem;
    line-height: 4.7rem;
    padding-bottom: 160px;
    padding-left: 150px;
  }
}
.hero__title {
  font-family: "AvenirNextDemi", sans-serif;
  font-size: 2rem;
  line-height: 2.2rem;
}
@media (min-width: 1280px) {
  .hero__title {
    font-size: 2.3rem;
    line-height: 2.5rem;
  }
}

.section-title, .footer__title {
  font-family: "AvenirNextDemi", sans-serif;
  font-size: 2.3rem;
  line-height: 2.5rem;
}
.section-title--main {
  color: #323232;
  padding-top: 2rem;
  padding-bottom: 0.8rem;
}
@media (min-width: 768px) {
  .section-title--main {
    font-size: 2.625rem;
    line-height: 2.8rem;
  }
}

.field {
  border-radius: 4px;
  border-color: #AFAFAF;
}

/*** Header styling ***/
.logo {
  width: 180px;
}
@media (min-width: 1280px) {
  .logo {
    width: 150px;
  }
}
@media (min-width: 768px) {
  .logo--footer {
    position: absolute;
    top: 70px;
    right: 25px;
  }
}
@media (min-width: 1280px) {
  .logo--footer {
    right: 180px;
    top: 80px;
  }
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #323232;
}
@media (min-width: 768px) {
  .header {
    display: flex;
    flex-direction: row;
  }
}
@media (min-width: 1280px) {
  .header {
    padding-left: 6.25rem;
  }
}
.header__logo-box {
  padding-top: 2.25rem;
  padding-right: 3rem;
  padding-bottom: 2.25rem;
  padding-left: 3rem;
}
.header__nav {
  display: flex;
  flex-direction: column;
  width: 100%;
  font-size: 1.3rem;
}
@media (min-width: 768px) {
  .header__nav {
    align-self: end;
  }
}
.header__list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
@media (min-width: 768px) {
  .header__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: fit-content;
    column-gap: 30px;
  }
}
.header__item {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 50%;
  text-align: center;
  padding-bottom: 0.8rem;
}
.header__item:hover {
  border-bottom: 5px solid #FFFFFF;
}
@media (min-width: 768px) {
  .header__item {
    padding-bottom: 2.25rem;
  }
}
.header__label--active-state, .header__label--hover-state, .header__label--active-state:active, .header__label--active-state:visited, .header__label--active-state:link {
  font-family: "AvenirNextRegular", sans-serif;
  color: #FFFFFF;
  font-family: "AvenirNextDemi", sans-serif;
}
.header__label--hover-state:hover {
  color: #E1E1E1;
}

.active {
  border-bottom: 5px solid #FFFFFF;
}

/*** Footer styling ***/
.footer {
  background-color: #323232;
  color: #FFFFFF;
  font-size: 1.1rem;
  line-height: 1.5rem;
  font-weight: 400;
  position: relative;
  padding-top: 1.25rem;
  padding-right: 1.25rem;
  padding-bottom: 0.8rem;
  padding-left: 1.25rem;
}
@media (min-width: 1280px) {
  .footer {
    font-size: 1.13rem;
  }
}
@media (min-width: 1280px) {
  .footer__container {
    max-width: 75%;
    padding-left: 6.25rem;
  }
}
@media (min-width: 768px) {
  .footer__social-media {
    display: flex;
    flex-direction: row;
    align-items: baseline;
  }
}
@media (min-width: 1280px) {
  .footer__social-media {
    justify-content: space-between;
    column-gap: 10px;
    max-width: 53%;
  }
}
.footer__title {
  padding-top: 2rem;
  padding-bottom: 0.8rem;
}
@media (min-width: 768px) {
  .footer__title {
    font-size: 2.625rem;
    line-height: 2.8rem;
    padding-top: 2.25rem;
  }
}
.footer__icons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 30%;
}
@media (min-width: 768px) {
  .footer__icons {
    justify-content: space-around;
  }
}
@media (min-width: 1280px) {
  .footer__icons {
    justify-content: space-between;
    width: 30%;
    column-gap: 5px;
  }
}
.footer__icon-img {
  height: 3vh;
}
@media (min-width: 768px) {
  .footer__icon-img {
    height: 3.3vh;
  }
}
.footer__contact-container {
  display: flex;
  flex-direction: column;
  row-gap: 35px;
}
@media (min-width: 768px) {
  .footer__contact-container {
    font-size: 1rem;
    flex-direction: row;
    justify-content: space-between;
    column-gap: 7px;
  }
}
@media (min-width: 1280px) {
  .footer__contact-container {
    font-size: 1.1rem;
    justify-content: space-around;
  }
}
.footer__contact {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}
.footer__contact-title {
  font-family: "AvenirNextDemi", sans-serif;
  padding-top: 1.25rem;
}
@media (min-width: 768px) {
  .footer__contact-title {
    padding-top: 0;
  }
}
.footer__location {
  font-style: normal;
}
.footer__email, .footer__email:link {
  color: #FFFFFF;
}
.footer__logo-box {
  margin-top: 50px;
}
.footer__copyright {
  padding-top: 1.25rem;
}
@media (min-width: 1280px) {
  .footer__copyright {
    padding-left: 2%;
  }
}
.footer__title, .footer__contact-container, .footer__content {
  padding-top: 1.25rem;
  padding-bottom: 0.8rem;
}
@media (min-width: 768px) {
  .footer__title, .footer__contact-container, .footer__content {
    padding-top: 2.25rem;
    padding-bottom: 2.25rem;
  }
}

/*** Shows - Hero styling ***/
.hero {
  background-image: url(../assets/images/hero-shows.jpg);
  background-position: top;
  height: 60vh;
}
@media (min-width: 768px) {
  .hero {
    background-position: center;
    height: 65vh;
  }
}
@media (min-width: 1280px) {
  .hero {
    background-position: center -170px;
    height: 85vh;
  }
}
.hero__banner {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.hero__banner-container {
  display: flex;
  flex-direction: column;
  align-self: flex-end;
  align-content: center;
  row-gap: 15px;
  height: 100%;
  padding-bottom: 0.8rem;
}
@media (min-width: 768px) {
  .hero__banner-container {
    row-gap: 10px;
  }
}
@media (min-width: 1280px) {
  .hero__banner-container {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-between;
  }
}
.hero__title {
  max-width: 75%;
  line-height: 2.8rem;
}
@media (min-width: 768px) {
  .hero__title {
    width: 80%;
    font-size: 4.2rem;
    line-height: 4.5rem;
  }
}
@media (min-width: 1280px) {
  .hero__title {
    max-width: 45%;
  }
}
.hero__sub-title {
  font-family: "AvenirNextRegular", sans-serif;
  font-size: 1.3rem;
}
@media (min-width: 768px) {
  .hero__sub-title {
    font-family: "AvenirNextDemi", sans-serif;
    font-size: 2rem;
  }
}
@media (min-width: 1280px) {
  .hero__sub-title {
    font-size: 1.8rem;
    flex: 1 0 100%;
  }
}
@media (min-width: 768px) {
  .hero__song {
    max-width: 60%;
  }
}
@media (min-width: 1280px) {
  .hero__song {
    max-width: 40%;
  }
}

/*** Shows - Information styling **/
.shows__title-container {
  display: flex;
  flex-direction: column;
  padding-bottom: 0.8rem;
  padding-left: 1.25rem;
}
@media (min-width: 768px) {
  .shows__title-container {
    padding-left: 3rem;
    row-gap: 20px;
  }
}
@media (min-width: 1280px) {
  .shows__title-container {
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    padding-bottom: 0;
    padding-left: 9.2rem;
  }
}
.shows__title {
  padding-top: 2rem;
}
@media (min-width: 768px) {
  .shows__title {
    padding-top: 2.25rem;
  }
}
@media (min-width: 1280px) {
  .shows__title {
    padding-top: 5rem;
    align-self: flex-end;
    line-height: 0;
  }
}
.shows__labels {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
@media (min-width: 768px) {
  .shows__labels {
    width: 67%;
    justify-content: space-between;
    align-items: flex-start;
    padding-left: 3rem;
  }
}
@media (min-width: 1280px) {
  .shows__labels {
    width: 47%;
  }
}
.shows__label-item, .shows__label-item--tablet-desktop, .shows__label-item--mobile {
  color: #AFAFAF;
  font-family: "AvenirNextDemi", sans-serif;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .shows__label-item--mobile {
    display: none;
  }
}
.shows__label-item--tablet-desktop {
  display: none;
}
@media (min-width: 768px) {
  .shows__label-item--tablet-desktop {
    display: flex;
    font-size: 1.2rem;
  }
}
@media (min-width: 1280px) {
  .shows__info-section {
    display: flex;
    flex-direction: column;
    align-content: flex-end;
    flex-wrap: wrap;
    padding-right: 3rem;
    padding-bottom: 2.25rem;
  }
}
.shows__info-container {
  color: #323232;
  display: flex;
  flex-direction: column;
  padding-top: 1.25rem;
  padding-right: 1.25rem;
  padding-bottom: 0.8rem;
  padding-left: 1.25rem;
  gap: 20px;
  border-bottom: 2px solid #E1E1E1;
}
.shows__info-container:hover {
  background-color: #FAFAFA;
  cursor: pointer;
}
@media (min-width: 768px) {
  .shows__info-container {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 3rem;
  }
}
@media (min-width: 1280px) {
  .shows__info-container {
    width: 70%;
  }
}
.shows__field-wrapper {
  display: flex;
  flex-direction: column;
  gap: 5px;
  flex-basis: 25%;
}
.shows__info {
  font-size: 1.125rem;
  text-align: left;
}
.shows__info--date {
  font-family: "AvenirNextDemi", sans-serif;
}
.shows__btn {
  font-size: 1.125rem;
  padding-top: 1.25rem;
}
@media (min-width: 768px) {
  .shows__btn {
    font-size: 1rem;
  }
}
@media (min-width: 1280px) {
  .shows__btn {
    font-size: 1.125rem;
  }
}

.selected {
  background-color: #AFAFAF;
}
.selected:hover {
  background-color: #AFAFAF;
}

/*# sourceMappingURL=shows.css.map */
