@use './partials/global' as *;
@use './partials/header' as *;
@use './partials/footer' as *;
@use './partials/variables' as *;
@use './partials/mixins' as *;
/*** Shows - Hero styling ***/
.hero {
    background-image: url(../assets/images/hero-shows.jpg);
    background-position: top;
    height: 60vh;
    @include tablet {
        background-position: center;
        height: 65vh;
    }
    @include desktop {
        background-position: center -170px;
        height: 85vh;
    }
    &__banner {
        @include flex($j-content:center);
    }
    &__banner-container {
        @include flex($direction: column);
        align-self: flex-end;
        align-content: center;
        row-gap: 20px;
        height: 90%;
        @include padding($bottom: $mobile-p-b);
        @include desktop {
            flex-direction: row;
            flex-wrap: wrap;
            align-items: flex-end;
            justify-content: space-between;
        }
    }
    &__title {
        max-width: 75%;
        line-height: 2.8rem;
        @include tablet {
            width: 80%;
            font-size: 4.2rem;
            line-height: 4.5rem;
        }
        @include desktop {
            max-width: 45%;
        }
    }
    &__sub-title {
        font-family: $avenir-regular;
        font-size: 1.3rem;
        @include tablet {
            font-family: $avenir-demi;
            font-size: 2rem;
        }
        @include desktop {
            font-size: 1.8rem;
            flex: 1 0 100%;
        }
    }
    &__song {
        @include tablet {
            max-width: 60%; 
        }
        @include desktop {
            max-width: 40%;
        }
    }
}
/*** Shows - Information styling **/
.shows {
    &__title-container {
        @include flex($direction: column);
        @include padding($left: $mobile-p-l, $bottom: $mobile-p-b);
        @include tablet {
            @include padding($left: $td-p-l);
            row-gap: 20px;
        }
        @include desktop {
            flex-direction: row;
            align-items: flex-end;
            justify-content: space-between;
            @include padding($left: 9.2rem, $bottom:0);
        }
    }
    &__title {
        @include padding($top: $mobile-heading-p-t);
        @include tablet {
            @include padding($top: $td-heading-p-t);
        }
        @include desktop {
            @include padding($top: 5rem);
            align-self: flex-end;
            line-height: 0;
        }
    }
    &__labels {
        @include flex();
        gap: 20px;
        @include tablet {
            width: 67%;
            justify-content: space-between;
            align-items: flex-start;
            @include padding($left: $td-p-l);
        }
        @include desktop {
            width: 47%;
        }
    }
    &__label-item {
        color: $silver;
        font-family: $avenir-demi;
        text-transform: uppercase;
    }
    &__label-item--mobile {
        @extend .shows__label-item;
        @include tablet {
            display: none;
        }
    }
    &__label-item--tablet-desktop {
        display: none;
        @extend .shows__label-item;
        @include tablet {
            display: flex;
            font-size: $td-body-copy;
        }
    }
    &__info-section {
        @include desktop {
            @include flex($direction: column, $a-content: flex-end);
            flex-wrap: wrap;
            @include padding($right: $td-p-r, $bottom: $td-p-b);     
        }
    }
    &__info-container {
        color: $bandsite-black;
        @include flex($direction: column);
        @include padding($top: $mobile-p-t, $bottom: $mobile-p-b, $left: $mobile-p-l, $right: $mobile-p-r);
        gap: 20px;
        border-bottom: 2px solid $mercury;
        &:hover {
            background-color: $alabaster;
            cursor: pointer;
        }
        @include tablet {
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            @include padding($left: $td-p-l);
        }
        @include desktop {
            width: 70%;
        }
    }
    &__field-wrapper {
        @include flex($direction: column);
        gap: 5px;
        flex-basis: 25%;
    }
    &__info{
        font-size: $m-body-copy;
        text-align: left;
    }
    &__info--date {
        font-family: $avenir-demi;
    }
    &__btn {
        @extend .btn;
        font-size: $m-body-copy;
        @include padding($top: $mobile-p-t);
    }
}
.selected {
    background-color: $silver;
    &:hover {
        background-color: $silver;
    }
}